.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.portfolio__card{
    background-color: var(--container-color);
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    padding: 1.25rem;
    border-radius: 1rem;
    border: 1px solid rgb(197, 190, 190);
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px;
    transition: all 0.3s linear;
}

.portfolio__card:hover{
    transform: translateY(-3rem);
    
}

.portfolio__image{
    height: 200px;
    aspect-ratio: 1.5/1;
    border-radius: 1rem;
    margin-bottom: 0.2rem;
}

.portfolio__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: .2rem;
}

.portfolio__description{
    justify-content: center;
    align-items: center;
    max-width: 300px;
    font-size: var(--small-font-size);
    font-weight: var(--font-normal);
}

.live_demo{
    
}

.portfolio__social_icon_a{
   
}

.portfolio__social_icon{
    /* width: 3rem;
    height: 3rem;
    
    display: inline-block;
    border-radius: 685% 15% 71% 29% / 52% 48% 52% 48% ;
    padding: 1.4rem 1.8rem;
    position: relative;
    color: blue;
    animation: water-wave 3s linear infinite; */
    font-size: 1.5rem;
    color: var(--title-color);
    border: 1px solid rgb(67, 68, 68);
    background-color: rgba(205, 207, 211, 0.7);
    margin: 0px 3px;
    border-radius: 85% 15% 86% 14% / 15% 76% 24% 85% ;
    animation: water-wave 3s linear infinite;
}

@keyframes water-wave {

    0%{
        border-radius: 185% 15% 86% 14% / 15% 76% 24% 85% ;
    }

    25%{
        border-radius:39% 61% 30% 70% / 57% 28% 72% 43% ;
    }

    50%{
        border-radius:57% 43% 52% 48% / 37% 44% 56% 63% ;
    }

    75%{
        border-radius:374% 26% 78% 22% / 27% 64% 36% 73% ;
    }
    100%{
        border-radius: 85% 15% 86% 14% / 15% 76% 24% 85%;
    }


    
}







/* BREAKPOINTS */

/* For large devices */
@media screen and (max-width:992px) {
    .portfolio__container{
       
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        
    }
}
  /* For medium devices */
  @media screen and (max-width:768px) {
    .portfolio__container{
       
        grid-template-columns: repeat(2, 1frt);
        gap: 1rem;
        
    }
  }
  
  @media screen and (max-width:576px) {
    .portfolio__container{
       
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        
    }
  }
  
  
  /* For small devices */

  @media screen and (max-width:420px) {
    .portfolio__container{
       
        grid-template-columns: repeat(1, 1fr);
      
        
    }
  }

  @media screen and (max-width:350px) {
    .portfolio__container{
       
        grid-template-columns: repeat(1, 1fr);
      
        
    }
  }
