/* *{
    display: flex;
justify-content: center;
align-items: center;
position: relative;
} */
.sdjs{
    color: red;
}
.top-btn {
  /* font-size: 2rem; */
  /* width: 3rem;
  height: 3.7rem; */
  
  background-color: var(--title-color);
  opacity: 0.8;
  /* box-shadow: var(--shadow); */
  border-radius: 0.5rem;
  position: fixed;
  bottom: 3rem;
  right: 2.5rem;
  z-index: 999;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  transition: .4s;
  
}
  .top-btn--icon {
    animation: gototop 1.5s linear infinite alternate-reverse;
    font-size: 1.5rem;
    color: var(--container-color);
  }
  .top-btn:hover{
    background-color: var(--title-color-dark);
  }

  @keyframes gototop {
    0% {
      transform: translateY(-0.25rem);
    }
    100% {
      transform: translateY(0.5rem);
    }
  }


  /* BREAKPOINTS */

/* For large devices */
@media screen and (max-width:992px) {
  .top-btn{
    right: 1.5rem;
    padding: 0.25rem 0.4rem;
  }
  .top-btn--icon{
    font-size: 1.5rem;
  }
}

/* For medium devices */
@media screen and (max-width:768px) {
  
  .top-btn--icon{
    font-size: 1.25rem;
  }
 
}

@media screen and (max-width:576px) {
 
  .top-btn--icon{
    font-size: 1rem;
  }
}


/* For small devices */
@media screen and (max-width:350px) {
  
  .top-btn--icon{
    font-size: 0.75rem;
  }
}